#login_background{
    -fx-background-image: url("/img/login_register_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
.login_fields{
    -fx-border-radius: 25px;
    -fx-background-color: #252E39;
    -fx-text-fill: #f85649;
    -fx-prompt-text-fill: #f85649;
}